/* Main container styling */
.actor-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90vw;
    background-color:#2D336B; /* Dark gray-blue background */
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  
  .actor-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  
  
  .actor-card {
    cursor: pointer;
    padding: 15px;
    border-radius: 12px;
    width: 180px;
    text-align: center;
    background: #ecf0f1; /* Light gray background */
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .actor-card:hover {
    transform: scale(1.08);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  .actor-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .actor-card h3 {
    margin-top: 10px;
    color: #2c3e50;
    font-size: 1.2em;
  }
  
  .movies-list {
    margin-top: 20px;
    padding: 20px;
    background: #eef2f7; 
    border-radius: 12px;
    width: 80%;
    max-width: 600px;
    text-align: center;
  }
  
  .movies-list h2 {
    color: #f1c40f; 
    margin-bottom: 10px;
  }
  
  .movies-list ul {
    list-style: none;
    padding: 0;
  }
  
  .movies-list li {
    background: #f4f4f4;
    margin: 5px 0;
    /* padding: 10px; */
    border-radius: 6px;
    color: #2c3e50;
    font-size: 20px;
    font-weight: bold;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .actor-list {
      flex-direction: column;
      align-items: center;
    }
  
    .actor-card {
      width: 220px;
    }
  
    .movies-list {
      width: 90%;
    }
  }