
.panel-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90vw;
    padding: 0px;
    margin: 0px;
   
    background-color: rgba(236, 231, 231, 0.8);
  }
  
  .inner-container {
    flex: 0 0 auto;  
    width: 200px; 
    height: 350px; 
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
  }
  
  
  .inner-container:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
  }
  
  .product-img {
    width: 100%;
    height: 150px;
    object-fit: contain; 
  
  }
  
  /* Buy button styling */
  .bay-button {
    background-color: green;
    color: white;
    height: 6vh;
    width: 12vw;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(63, 57, 57, 0.5);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  }
  
  /* Hover effect for Buy button */
  .bay-button:hover {
    background-color: #ffa600;
    transform: scale(1.0); 
  }
  
  .info{
    font-size: 14px;
    color: #3d3c3c;
  }