
.card-container {
    width: 90%;
    margin-left: 45px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 25px;
    justify-items: center;
    background-color:#87deea;
    padding: 20px;
    border-radius: 5px;
    }
    h1{
        text-align: center;
        color: black;
    }
.product-box {
    width: 200px;
    height: 300px;
    background-color:rgb(255, 255, 255)    ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
   
}
.product-image {
    width: 130px;
    height: 100px;
    object-fit: cover;
}
.product-price {
    font-size: 20px;
    font-weight: bold;
    color: green;
}
.add-to-cart{
    background-color:rgb(12, 11, 11);
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    width: 55%;
    border-radius: 5px;
 
}
.add-to-cart:hover {
    background-color:green;
    color: black;
}
